@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
}
.gral{
	color: #fff;
	height: 100%;
	padding: 0;
}
/*

		Cabecera

*/
.gral header{
	text-align: center;
	background-image: url(header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 10px 0;
	min-height: 70%;
}
.gral header .title-img{
	width: 30%;
	margin: 20px auto;
}
.gral header .fechas{
	margin-top: 50px;
}
.gral header .fechas strong{
	color: #E02726;
	display: block;
}
.gral .circulos{
	margin-top: 70px;
	margin-bottom: 25px;
}
.gral .circulos .bg{
	width: 50%;
	margin: 20px auto;
}
.gral .circulos div[class^='col-md']{
	position: relative;
}
.gral .circulos .num{
	position: absolute;
    left: 0;
    right: 0;
    top: 32px;
}
.gral .circulos .txt{
	position: absolute;
    left: 0;
    right: 0;
	top: 50%;
    width: 35%;
	font-size: 12px;
    margin: 0 auto;
    transform: translateY(-32%);
}
.gral .circulos .fa{
	font-size: 22px;
}
.alert{
	width: 50%;
    margin: 0 auto;
}
/*

		Formulario

*/
.gral section{
	background-color: #293887;
	min-height: 70%;
	padding: 40px 0;
}
.gral form{
	text-align: center;
    width: 35%;
}
.gral form .btn-red{
	margin-top: 20px;
	width: 100%;
	color: #fff;
	background-color: #DB1715;
}
.gral form .btn-red:hover{
	color: #DB1715;
	background-color: #fff;
}
/*

		Footer

*/
.gral footer{
	min-height: 50%;
	background-image: url(footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}
.gral footer .txt{
	margin-top: 40px;
}